Anova when one categorical variable has more then 2 groups
Two types
Anova 1 Way
Anova 2 Way

In [2]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols #ordinary least square

In [6]:
#water: how frequently each plant was watered: daily or weekly
#sun: how much sunlight exposure each plant received: low, medium, or high
#height: the height of each plant (in inches) after two months

In [7]:
#H01:There is no difference in population mean of height for water daily,weekly
#H02:There is no difference in population mean of height for sun low, medium, 
#high
#H03:The Water & Sun are Independent

In [8]:
#Three Hypothesis in two way Anova 
#H0: Population Means of first factors are equal 
#H1: Population Means of second factors are equal 
#H2: There is no interaction between two factors 
#ie two set of factors are Independent

In [ ]:
#create data
#Plant Growth - Water, Sun, Plant Height
df=pd.DataFrame({'water':np.repeat(['daily','weekly'], 15),
                 'sun':np.tile(np.repeat(['low','med','high'],5),2),
                   'height': [6, 6, 6, 5, 6, 5, 5, 6, 4, 5,
                              6, 6, 7, 8, 7, 3, 4, 4, 4, 5,
                              4, 4, 4, 4, 4, 5, 6, 6, 7, 8]})

#view first ten rows of data 
#df[:10]
df

In [ ]:
#perform one-way ANOVA
model = ols('height ~ C(sun)',data=df).fit()
sm.stats.anova_lm(model, typ=1)

In [6]:
#perform two-way ANOVA
model = ols('height ~ C(water) + C(sun) + C(water):C(sun)', data=df).fit()
sm.stats.anova_lm(model, typ=2)

                    sum_sq    df        F    PR(>F)
C(water)          8.533333   1.0  16.0000  0.000527
C(sun)           24.866667   2.0  23.3125  0.000002
C(water):C(sun)   2.466667   2.0   2.3125  0.120667
Residual         12.800000  24.0      NaN       NaN

In [ ]:
#water: p-value = .000527
#sun: p-value = .0000002
#water*sun: p-value = .120667

In [ ]:
#Since the p-values for water and sun are both less than .05, 
#this means that both factors have a statistically significant effect 
#on plant height.

#And since the p-value for the interaction effect (.120667) is not less 
#than .05, this tells us that there is no significant interaction effect 
#between sunlight exposure and watering frequency.

In [ ]:
#Result - H0 is rejected
#H01:There is difference in population mean of height for water daily,weekly
#H02:There is no difference in population mean of height for sun low, medium, high
#H03:The Water & Sun are Independent

In [ ]:
#Result - H0 is rejected
#H02:There is difference in population mean of height for sun low, medium, 
#high

In [ ]:
#Result - Fail to Reject H03
#H03:The Water & Sun are Independent