In [3]:
import pandas as pd

In [4]:
df=pd.read_csv('Height_Weight.csv')
df.head()

    id gender  weight  height
0   29      F      39     157
1  182      F      43     154
2  130      F      44     157
3  104      F      45     163
4  128      F      45     157

In [6]:
X=df.iloc[:,2:]
y=df.iloc[:,1]

In [7]:
X.head()

   weight  height
0      39     157
1      43     154
2      44     157
3      45     163
4      45     157

In [8]:
X=X.dropna(axis=1)

In [9]:
X.head()

   weight  height
0      39     157
1      43     154
2      44     157
3      45     163
4      45     157

In [10]:
y.value_counts()

gender
F    111
M     88
Name: count, dtype: int64

In [19]:
y.head()

0    F
1    F
2    F
3    F
4    F
Name: gender, dtype: object

### HoldOut Validation Approach- Train And Test Split

In [21]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=600)
model = DecisionTreeClassifier()
model.fit(X_train, y_train)
result = model.score(X_test, y_test)
print(result)

0.84

### K Fold Cross Validation

In [22]:
from sklearn.model_selection import KFold
model=DecisionTreeClassifier()
kfold_validation=KFold(10)

In [23]:
import numpy as np
from sklearn.model_selection import cross_val_score
results=cross_val_score(model,X,y,cv=kfold_validation)
print(results)
print(np.mean(results))

[1.   0.85 0.65 0.9  0.9  0.85 0.55 0.75 0.95 1.  ]
0.8400000000000001

### Stratified K-fold Cross Validation

In [14]:
from sklearn.model_selection import StratifiedKFold
skfold=StratifiedKFold(n_splits=5)
model=DecisionTreeClassifier()
scores=cross_val_score(model,X,y,cv=skfold)
print(np.mean(scores))

0.5821794871794872

In [15]:
scores

array([0.6       , 0.525     , 0.55      , 0.8       , 0.43589744])

### Leave One Out Cross Validation(LOOCV)

In [16]:
from sklearn.model_selection import LeaveOneOut
model=DecisionTreeClassifier()
leave_validation=LeaveOneOut()
results=cross_val_score(model,X,y,cv=leave_validation)

In [17]:
results

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 0., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 0., 0., 1., 1., 1., 0., 1., 0., 1., 1., 1., 0., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       0., 1., 0., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1.,
       1., 1., 0., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 0.,
       1., 1., 1., 0., 1., 1., 0., 1., 0., 0., 0., 1., 1., 1., 1., 1., 1.,
       0., 1., 1., 0., 0., 0., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       0., 1., 1., 0., 1., 0., 1., 1., 1., 1., 0., 1., 0., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [18]:
print(np.mean(results))

0.8592964824120602